# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/keys/
android/key.properties
keytool.exe

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
android/key.properties
key.jks
pubspec.lock
android/app/google-services.json
lib/gitkey.dart
android/app/.settings/org.eclipse.buildship.core.prefs
android/app/.project
android/app/.classpath
android/.project
.vscode/settings.json
android/.settings/org.eclipse.buildship.core.prefs
android/gradle/wrapper/gradle-wrapper.properties
android/app/build.gradle
android/google-play-console.json
android/key.jks
android/android_keys.zip
