# # ci.yml
# name: CI

# on:
#   pull_request:
#     branches:
#       - master

# jobs:
#   build_apk:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v2
#       - name: Setup Java
#         uses: actions/setup-java@v1
#         with:
#           java-version: 12.x
#       - name: Decrypt Android keys
#         run: sh ./.github/scripts/decrypt_android_keys.sh
#         env:
#           ANDROID_KEYS_SECRET_PASSPHRASE: $
#       - name: Setup Flutter
#         uses: subosito/flutter-action@v1
#         with:
#           flutter-version: 2.2.0
#       - name: Install Flutter dependencies
#         run: flutter pub get
#       - name: Format files
#         run: flutter format --set-exit-if-changed .
#       - name: Analyze files
#         run: flutter analyze .
#       - name: Run the tests
#         run: flutter test
#       - name: Build the APK
#         run: flutter build apk --release
#       - name: Upload artifact
#         uses: actions/upload-artifact@v1
#         with:
#           name: release-apk
#           path: build/app/outputs/apk/release/app-release.apk